<div class="jumbotron jumbotron-fluid">
  <img class="img-fluid" src="{{ 'BannerCategories_Mobile.jpg' | asset_url }}">
</div>

<div class="container">

{% paginate collection.products by 12 %}
  <header class="categories-header" role="banner">

    <div class="row-fluid">
      <div class="span6 pull-left">
          <p class="categories-title">{{ collection.title }}</p>
      </div>
      <div class="span6 text-right">
        <span class="back-link"><i class="fa fa-angle-left"></i> Back </span>
      </div>
    </div>

    <hr class="separator"></hr>

    <div class="row-fluid category-navigation">
      <div class="span6 pull-left">
        <span><i class="fa fa-angle-left"></i> Prev </span>
      </div>
      <div class="span6 text-right">
        <span>Next <i class="fa fa-angle-right"></i></span>
      </div>
    </div>

  </header>

  <div>
    {% for product in collection.products %}
       <div class="product-item">
        <div class="container">
          {% if product.featured_image != blank %}
            <div class="product-item__image">
              <a href="{{ product.url | within: collection }}">
                {{ product.featured_image.src | img_url: '480x480' | img_tag: product.featured_image.alt }}
              </a>
            </div>  
          {% endif %}

          <span class="product-item__name">
            <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
          </span>
          <hr class="separator"></hr>

          <span class="product-item__price">
            {{ product.price | money }}
          </span>

          <span class="details">
            <a href="{{ product.url | within: collection }}">
              <i class="fa fa-plus"></i> View details</span>
            </a>  

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
    </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}

</div>