<div class="jumbotron jumbotron-fluid">
  <h1 class="title">Winter 2018</h1>
  <span class="subtitle">Boards</span>
  <span class="description">Collection</span>
  <a href="/collections/boards">Shop now</a>
  <img class="img-fluid" src="{{ '1024-Hero.jpg' | asset_url }}">
</div>

<div class="container">
  <section class="collections">
    <h3 class="subtitle">More Collections</h3>
    <hr class="separator">

    <div class="row">
      <div class="column">
        <div class="left-item">
          <a href="/collections/helmets">
            <div class="info">
              <i class="icon icon-helmet"></i>
              Helmets
            </div>
          </a>
        </div>
      </div>   
      <div class="column">
        <div class="top-right-item">
          <a href="/collections/goggles">
            <div class="info">
              <i class="icon icon-goggle"></i>
              Goggles
            </div>
          </a>
        </div>
        <div class="bottom-right-item">
          <a href="/collections/gloves">
            <div class="info">
              <i class="icon icon-glove"></i>
              Gloves
            </div>
          </a>
        </div>
      </div>  
    </div>
  </section>

  <section class="promotional-banner">
    <h3 class="title">Free Shipping</h3>
    <span class="description">On orders over $150</span>
  </section>

  <section class="new-arrivals">
    <h3 class="subtitle">New arrivals</h3>
    <hr class="separator">
    
    <div class="slider">
      <div class="slider-item">
        <div class="slider-item__image">
          <img src="{{ '1024-board-1.png' | asset_url }}">
        </div>
        <span class="slider-item__name">
          Dav-os324S
        </span>
        <hr class="separator"></hr>
        <span class="slider-item__price">
          $ 249.99
        </span>
      </div>

      <div class="slider-item small--hide">
        <div class="slider-item__image">
          <img src="{{ '1024-board-1.png' | asset_url }}">
        </div>
        <span class="slider-item__name">
          Dav-os324S
        </span>
        <hr class="separator"></hr>
        <span class="slider-item__price">
          $ 249.99
        </span>
      </div>

      <div class="slider-item small--hide">
        <div class="slider-item__image">
          <img src="{{ '1024-board-1.png' | asset_url }}">
        </div>
        <span class="slider-item__name">
          Dav-os324S
        </span>
        <hr class="separator"></hr>
        <span class="slider-item__price">
          $ 249.99
        </span>
      </div>

      <div class="slider-item small--hide medium-up--show">
        <div class="slider-item__image">
          <img src="{{ '1024-board-1.png' | asset_url }}">
        </div>
        <span class="slider-item__name">
          Dav-os324S
        </span>
        <hr class="separator"></hr>
        <span class="slider-item__price">
          $ 249.99
        </span>
      </div>

    </div>

   </section> 

</div>