<div class="container">

{% paginate search.results by 10 %}

  <h1>
    {% if search.performed %}
      {% if search.results_count == 0 %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% endif %}
    {% else %}
      {{ 'general.search.title' | t }}
    {% endif %}
  </h1>

  <hr class="separator"></hr>

  {% if search.performed %}
    <div class="products-container">
      <ul>
        {% for item in search.results %}
          <li class="product-item-grid widescreen--one-fourth large--one-fourth medium--one-third small--one-half">
            {% assign featured_image = item.image | default: item.featured_image %}
            {% if featured_image != blank %}
              <div class="product-item__image">
                <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                  {{ featured_image | img_url: '240x240' | img_tag: featured_image.alt }}
                </a>
              </div>
            {% endif %}

            <span class="product-item__name">
              <h5>{{ item.title | link_to: item.url }}</h5>
            </span>
            <hr class="separator"></hr>

            {% if item.object_type == 'product' %}
              <p class="product-item__price">
                {% if item.compare_at_price > item.price %}
                  {% if item.price_varies %}
                    {% assign sale_price = item.price | money %}
                  {% else %}
                    <span itemprop="price">{{ item.price | money }}</span>
                  {% endif %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                {% else %}
                  {% if item.price_varies %}
                    {% assign price = item.price | money %}
                    <span itemprop="price">{{ 'products.product.from_text_html' | t: price: price }}</span>
                  {% else %}
                    <span itemprop="price">{{ item.price | money }}</span>
                  {% endif %}
                {% endif %}
                {% unless item.available %}
                {{ 'products.product.sold_out' | t }}
                {% endunless %}
              </p>
            {% else %}
              <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
            {% endif %}

          </li>
        {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

      </div>
    {% endif %}

  {% endpaginate %}

</div>