<footer>
  {%- assign social_accounts = 'Facebook, Twitter, Google,' | split: ', ' -%}
  <div class="grid">
    <div class="grid__item medium-up--one-third">
                  
      <div class="grid small--hide medium-up--hide">
        {% for social in social_accounts %}
          {%- assign social_handle = social | handleize -%}
          {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
          {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

          {% if settings[social_link] != blank %}
            <div class="grid__item small--one-quarter">
              <a href="{{ settings[social_link] }}"
                title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                {% comment %}{% include social_icon %}{% endcomment %}
                <div class="{{social_icon}} icon"></div>
              </a>
            </div>
          {% endif %}

        {% endfor %}
      </div>

      <div class="grid small--hide">
        <div class="grid__item one-third">CONTACT</div>
        <div class="grid__item one-third">ABOUT US</div>
        <div class="grid__item one-third">FAQ</div>
      </div>

    </div>
    <div class="grid__item medium-up--one-third text-center">
      <div class="logo-footer"></div>
    </div>
    <div class="grid__item medium-up--one-third small--hide text-right">
      <div class="grid">
        <div class="grid__item two-fifths text-left">FOLLOW US!</div>
        {% for social in social_accounts %}
          {%- assign social_handle = social | handleize -%}
          {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
          {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

          {% if settings[social_link] != blank %}
            <div class="grid__item one-fifth">
              <a href="{{ settings[social_link] }}"
                title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                {% comment %}{% include social_icon %}{% endcomment %}
                <div class="{{social_icon}} icon"></div>
              </a>
            </div>
          {% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
  <div class="medium-up--text-left small--text-center copy-right pading">
          © {{ 'now' | date: "%Y" }} All Rights Reserved. Design by Crowd Interactive. Powered by Spree.
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
