<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header role="banner">

    <div class="header-first-line grid">
      <div class="header-section-nav grid__item small--one-third medium-up--hide">
        
        <button type="button" class="site-header__link text-link site-header__toggle-nav" onclick="showNav()" aria-controls="NavDrawer" aria-expanded="true">
          {% include 'icon-hamburger' %}
        </button>

        <div id="NavDrawer" class="drawer" tabindex="-1">
          <div id="shopify-section-sidebar-menu" class="shopify-section sidebar-menu-section"><div class="drawer__header" data-section-id="sidebar-menu" data-section-type="sidebar-menu-section">
          <div class="drawer__close">
            <button type="button" class="drawer__close-button js-drawer-close">
              <span class="icon icon-x" aria-hidden="true"></span>
              <span class="icon__fallback-text">Close menu</span>
            </button>
          </div>
        </div>
        <div class="drawer__inner">
          <ul class="drawer-nav">
            <li class="drawer-nav__item">
              <a href="/collections/fixies" class="drawer-nav__link h2">Classic Fixies</a>
            </li>
            <li class="drawer-nav__item">
              <a href="/collections/premium-fixies" class="drawer-nav__link h2">Premium Fixies</a>
            </li>
            <li class="drawer-nav__item">
              <a href="/collections/glow" class="drawer-nav__link h2">Glow</a>
            </li>
            <li class="drawer-nav__item">
              <a href="/collections/kids" class="drawer-nav__link h2">Kids</a>
            </li>
            <li class="drawer-nav__spacer"></li>
            <li class="drawer-nav__item drawer-nav__item--secondary"><a href="/pages/service">Services &amp; Repairs</a></li>
            <li class="drawer-nav__item drawer-nav__item--secondary"><a href="/pages/shipping-returns">Shipping &amp; Returns</a></li>
            <li class="drawer-nav__item drawer-nav__item--secondary"><a href="/pages/about-us">About Us</a></li>
            <li class="drawer-nav__item drawer-nav__item--secondary"><a href="/blogs/news">News</a></li>
          </ul>

          <ul class="list--inline social-icons social-icons--drawer">
              <li>
                <a href="https://twitter.com/shopify" title="City Velo on Twitter">
                  <span class="icon icon-twitter" aria-hidden="true"></span>
                  <span class="visually-hidden">Twitter</span>
                </a>
              </li>
              <li>
                <a href="http://instagram.com/shopify" title="City Velo on Instagram">
                  <span class="icon icon-instagram" aria-hidden="true"></span>
                  <span class="visually-hidden">Instagram</span>
                </a>
              </li>
              <li>
                <a href="http://shopify.tumblr.com" title="City Velo on Tumblr">
                  <span class="icon icon-tumblr" aria-hidden="true"></span>
                  <span class="visually-hidden">Tumblr</span>
                </a>
              </li>
          </ul>
        </div>
        </div>
        </div>
      </div>

      <div class="header-section-icon grid__item small--one-third medium-up--hide">
        <h1 itemscope itemtype="http://schema.org/Organization">
          <a href="/" itemprop="url" class="site-logo site-header__logo-image">
            <img src="{{ 'logo.png' | asset_url }}" class="small--hide">
            <img src="{{ 'logo-small.png' | asset_url }}" class="medium-up--hide small--show">
          </a>
        </h1>
      </div>

      <div class="header-section-cart grid__item small--one-third medium-up--hide">
        <a href="/cart">         
          <span class="small--hide">{{ 'layout.cart.title' | t }}</span>
          {{ cart.item_count }}
          {% include 'icon-cart' %}
        </a>
      </div>

      <div class="header-section-user grid__item medium-one-whole small--hide">
        <ul>
          {% if customer %}
            <li>
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
            </li>
          {% else %}
            <li>
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            <li class="text-color-pink">
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
          {% endif %}
        </ul>
      </div>

    </div>

    <div class="grid header-second-line">
      
      <div class="header-section-icon grid__item small--hide medium-up--two-tenths">
        <h1 itemscope itemtype="http://schema.org/Organization">
          <a href="/" itemprop="url" class="site-logo site-header__logo-image">
            <img src="{{ 'logo-1280.png' | asset_url }}">
          </a>
        </h1>
      </div>

      <ul class="header-main-nav grid__item small--hide medium-up--five-tenths">
        {% for link in linklists[section.settings.main_linklist].links %}
          {%- assign child_list_handle = link.title | handleize -%}
          {% if menus[child_list_handle].links != blank %}
            <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
              <a href="{{ link.url }}" class="site-nav__link">
                {{ link.title }}
                {% include 'icon-arrow-down' %}
              </a>
              <ul class="site-nav__submenu">
                {% for childlink in menus[child_list_handle].links %}
                  <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                    <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <form class="search-form grid__item small-one-whole medium-up--two-tenths" action="/search" method="get" role="search">
        <div class="col-lg-12">
          <div class="input-group">
            <input type="text" name="q" class="form-control input-search" placeholder="Search" autocomplete="off" />
            <button class="input-group-addon" type="submit">
              {% include 'icon-search' %}
            </button>
          </div>
        </div>
      </form>

      <div class="header-section-medium-cart grid__item small--hide medium-up--one-tenth">
        <a href="/cart">     
          {{ cart.item_count }}
          {% include 'icon-cart' %}
        </a>
      </div>

    </div>

  </header>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="text/javascript">
  function showNav(){ 
    console.log("Show nav!");
  }
  function hideNav{ 
    console.log("Hide nav!");
  }
</script>