<div class="jumbotron jumbotron-fluid">
  <img class="img-fluid" src="{{ 'BannerCategories_Mobile.jpg' | asset_url }}">
</div>

<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="container">
  
    <header class="categories-header" role="banner">
      <div class="row-fluid">
        <div class="span6 pull-left">
            <p class="categories-title">{{ collection.title }}</p>
        </div>
        <div class="span6 text-right">
          <span class="back-link small--hide">Back</span>
          <span class="back-link medium-up--hide"><i class="fa fa-angle-left"></i> Back </span>
        </div>
      </div>

      <hr class="separator"></hr>

      <div class="row-fluid category-navigation">
        <div class="span6 pull-left">
          <span><i class="fa fa-angle-left"></i> Prev </span>
        </div>
        <div class="span6 text-right">
          <span>Next <i class="fa fa-angle-right"></i></span>
        </div>
      </div>
    </header>

  <div class="products-container">
    <div class="product-item-details">

    {% if featured_image != blank %}
      <div class="product-item__image">
        <img src="{{ featured_image | img_url: '480x480' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
      </div>  
    {% endif %}


    <div class="product-images small--hide">
      {% if product.images.size > 1 %}
        <ul>
          {% for image in product.images %}
            <li>
              <img src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>  

    <div class="product-info">
      <span class="subtitle">{{ product.title }}</span>

      <hr class="separator-nomargin"></hr>

      {% assign current_variant = product.selected_or_first_available_variant %}
      <span class="product-item__sku">Sku {{ current_variant.sku }}</span>

      <span class="product-item__price">
        {{ product.price | money }}
      </span>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <button
            type="submit"
            name="add"
            class="add-button"
            data-add-to-cart
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-add-to-cart-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
          </button>

        <input class="quantity-input" type="number" id="Quantity" name="quantity" value="1" min="1">

        </form>

      </div>

      <div class="rte">
        {{ product.description }}
      </div>

      {%- assign social_accounts = 'Facebook, Twitter, Google,' | split: ', ' -%}
      {% for social in social_accounts %}
        {%- assign social_handle = social | handleize -%}
        {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
        {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

        {% if settings[social_link] != blank %}
          <div class="grid__item one-fifth">
            <a href="{{ settings[social_link] }}"
              title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
              <div class="{{social_icon}} icon"></div>
            </a>
          </div>
        {% endif %}

      {% endfor %}

      {% unless product == empty %}
        <script type="application/json" data-product-json>
          {{ product | json }}
        </script>
      {% endunless %}
      </div>
    </div>
  </div>

  <section class="similar-products">
    <h3 class="subtitle">Similar products</h3>
    <hr class="separator">
  </section>

</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
