<div class="main-content">

  <h1 class="heading-with-lines">my cart</h1>

  {% if cart.item_count > 0 %}

  <form action="/cart" method="post" id="cart" class="cart">

    <div class="table">

      <div class="row-heads">
        <div class="title-head">item</div>
        <div class="title-head">name</div>
        <div class="title-head">price</div>
        <div class="title-head">qty</div>
        <div class="title-head">subtotal</div>
      </div>

      {% for item in cart.items %}

      <div class="row-cart" id="cart-item-{{item.variant.id}}">

        <div class="cart-item-picture">
          <a href="/collections/{{ item.product.collections.first.title | downcase }}#{{ item.product.handle }}">
            <img src="{{ item | img_url: '160x160' }}" alt="{{ item.title | escape }}">
          </a>
        </div>

        <div class="cart-item-name">
          <p>{{ item.title }}</p>
        </div>

        <div class="cart-item-price">
          <p id="price-{{item.variant.id}}" value="{{ item.price | money_without_currency }}">{{ item.price | money }}</p>
        </div>

        <div class="cart-item-qty">
          <input type="number" size="4" pattern="[0-9]*" id="quantity-{{ item.variant.id }}" value="{{ item.quantity }}" name="updates[{{item.variant.id}}]" min="1" max="15" class="input-qty-cart">
          <span class="triangle" id="{{item.variant.id}}"></span>
        </div>

        <div class="cart-item-subtotal">
          <p class="line-price" id="linePrice-{{item.variant.id}}" value="{{ item.line_price | money_without_currency }}">{{ item.line_price | money }}</p>
          <a class="delete-anchord" href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><i class="delete-icon"></i></a>
        </div>

      </div>

      {% endfor %}

    </div>

    <div class="cart-actions-box">
      <div class="buttons-box">
        <a href="/cart/clear" class="btn-3">empty cart</a>
        <a href="/" class="btn-3">keep shopping</a>
      </div>
      <div class="total-box">
        <p class="total-price-text" id="totalPrice">Total: {{ cart.total_price | money}}</p>
        <input class="btn-2" type="submit" name="checkout" value="Checkout" />
      </div>
    </div>

  </form>

  {% else %}

  <p class="message-empty-cart">You cart is currently empty!</p>

  {% endif %}


</div>
