{% section 'hero' %}

<div class="main-content">

  <h1 class="heading-with-lines">get in touch</h1>

  <div class="contact-box">

    <div class="column-box">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.</p>

      {% form 'contact' %}

        {% if form.posted_successfully? %}
          <p class="form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {{ form.errors | default_errors }}


        <div class="input-box">
          <input type="text"
            class="contact-input"
            name="contact[name]"
            id="ContactFormName"
            placeholder="{{ 'contact.form.name' | t }}"
            value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
        </div>


        <div class="input-box">
          <input type="email"
            class="contact-input"
            name="contact[email]"
            id="ContactFormEmail"
            placeholder="{{ 'contact.form.email' | t }}"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off">
        </div>


        <div class="input-box">
          <input type="tel"
            class="contact-input"
            name="contact[phone]"
            id="ContactFormPhone"
            placeholder="{{ 'contact.form.phone' | t }}"
            value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            pattern="[0-9\-]*">
        </div>


        <div class="input-box">
          <input type="text"
            class="contact-input"
            name="contact[body]"
            id="ContactFormMessage"
            placeholder="{{ 'contact.form.message' | t }}"
            value="{% if form.body %}{{ form.body }}{% endif %}">
        </div>

        <div class="input-box">
          <input type="submit" class="btn-3" value="{{ 'contact.form.send' | t }}">
        </div>

      {% endform %}

    </div>


    <div class="column-box">
      <div class="store-container">

          <div class="store-info">
            <div class="store-location">
              <p>Email</p>
            </div>
            <div class="address-location">
              <p>{{ shop.email }}</p>
            </div>
          </div>

          <div class="store-info">
            <div class="store-location">
              <p>{{ shop.name }}</p>
            </div>
            <div class="address-location">
              <p>{{ shop.address.street }},</p>
              <p>{{ shop.address.city | join: " " }} {{ shop.address.zip | join: " " }}. {{ shop.address.country }}</p>
              <p>{{ shop.phone }}</p>
            </div>
          </div>

      </div>
    </div>

</div>
