{% comment %}
{{ "//code.jquery.com/jquery-1.11.0.min.js" | script_tag }}
{{ "//code.jquery.com/jquery-migrate-1.2.1.min.js" | script_tag }}
{{ 'slick.js' | asset_url | script_tag }}
{% endcomment %}
<div class="home">
  <div class="home-content">
    {{ content_for_index }}
  </div>
</div>
{% comment %}
{{ 'home_slider.js' | asset_url | script_tag }}
{% endcomment %}
