<div class="page-contac-us">
  {% include 'breadcrumbs' %}
  <h1>{{ page.title }}</h1>

  {% comment %}
  <div class="rte">
    {{ page.content }}
  </div>
  {% endcomment %}

  <div class="contact-body-wrapper">

    <!-- Body content -->
    <div class="contact-body-content">

      <!-- Form super-wrapper -->
      <div class="contact-form-super-wrapper">

        <!-- Form title -->
        <h2>Get In Touch</h2>

        <!-- Form wrapper -->
        <div class="contact-form-wrapper">

          <!-- Form content -->
          <div class="contact-form-content">

            <!-- Form description -->
            <p>
              We’re very approachable and would love to hear from you. Feel free to call us, send us an email,
              tweet or say hi throught our facebook page!
            </p>

            <!-- Form social media -->
            <div class="contact-social-media">
              {%- assign social_accounts = 'Facebook, Twitter, Googleplus' | split: ', ' -%}
              <ul>
              {% for social in social_accounts %}
                {%- assign social_handle = social | handleize -%}
                {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

                {% if settings[social_link] != blank %}
                  <li>
                    <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                      {% include social_icon %}
                      <span class="icon-fallback-text">{{ social }}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
            </div>

            {% form 'contact' %}

              {% if form.posted_successfully? %}
                <p class="form-success">
                  {{ 'contact.form.post_success' | t }}
                </p>
              {% endif %}

              {{ form.errors | default_errors }}

              <!-- Name and phone fields -->
              <!-- Labels -->
              <div class="contact-label-field-content">
                <div class="contact-wrapper-column-field">
                  <div class="contact-column-field-content">
                    <label for="ContactFormName">{{ 'contact.form.name' | t }}*:</label>
                  </div>
                  <div class="contact-column-field-content">
                    <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}:</label>
                  </div>
                </div>
              </div>
              <!-- Fields -->
              <div class="contact-small-field-content">
                <div class="contact-wrapper-column-field">
                  <div class="contact-column-field-content">
                    <input type="text" class="contact-column-field"
                      name="contact[name]"
                      id="ContactFormName"
                      value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                  </div>

                  <div class="contact-column-field-content">
                    <input type="tel" class="contact-column-field"
                      name="contact[phone]"
                      id="ContactFormPhone"
                      value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                      pattern="[0-9\-]*">
                  </div>
                </div>
              </div>

              <!-- Email -->
              <div class="contact-label-field-content">
                <label for="ContactFormEmail">{{ 'contact.form.email' | t }}*:</label>
              </div>
              <div class="contact-small-field-content">
                <input type="email" class="contact-form-large-field"
                  name="contact[email]"
                  id="ContactFormEmail"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off">
              </div>

              <!-- Subject -->
              <div class="contact-label-field-content">
                <label for="ContactFormSubject">{{ 'contact.form.subject' | t }}*:</label>
              </div>
              <div class="contact-small-field-content">
                <input type="text" class="contact-form-large-field"
                  name="contact[email]"
                  id="ContactFormSubject"
                  value="{% if form.subject %}{{ form.subject }}{% endif %}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off">
              </div>

              <!-- Message -->
              <div class="contact-label-field-content">
                <label for="ContactFormMessage">{{ 'contact.form.message' | t }}*:</label>
              </div>
              <div class="contact-text-area">
                <textarea rows="10"
                  name="contact[body]"
                  id="ContactFormMessage">
                  {% if form.body %}
                    {{ form.body }}
                  {% endif %}
                </textarea>
              </div>
 
              <!-- Submit -->
              <div class="contact-sumbit-container">
                <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
              </div>
 
            {% endform %}
          </div>
        </div>
      </div> 
      <div class="contact-footer-wrapper">
      </div>
    </div>
  </div>
</div>
