<!-- /snippets/homepage-banner.liquid -->
<div class="banners-mobile">
  <div class="banner-container">
    <div class="banner-text-container">
      <div class="banner-text">
        <h1 class="h1-text">Build your own office</h1>
        <h2 class="h2-subtext c-white">with the best brands & prices</h2>
      </div>
    </div>
    <img class="banner-img-logo small--show medium--hide" src="{{ 'banner01.png' | asset_url }}"></img>
    <img class="banner-img-logo small--hide banner-img-tablet" src="{{ 'banner01_tablet.png' | asset_url }}"></img>
  </div>
  <div class="banner-container">
    <div class="banner-black-text-container banner-text-container-middle">
      <div class="grid-item one-whole">
        <h2 class="h2-subtext two-thirds text-center mt10-sm">Recycle your old devices and</h2>
        <h1 class="h1-text-black h1-margin-left two-thirds text-center mb5-sm">Get 10% off</h1>
        <h2 class="h2-subtext two-thirds text-center">in your next purchase</h2>
      </div>
    </div>
    <img class="banner-img-logo" src="{{ 'banner02.png' | asset_url }}"></img>
  </div>
  <div class="grid">
    <div class="grid__item banner-container small--one-whole medium--one-half">
      <div class="banner-text-container-middle">
        <div class="banner-left two-thirds">
          <h1>Smartphones</h1>
          <h2>Connect your world</h2>
        </div>
      </div>
      <img class="banner-img-logo" src="{{ 'banner03.png' | asset_url }}"></img>
    </div>
    <div class="grid__item banner-container small--one-whole medium--one-half no-padding-left">
      <div class="banner-text-container">
        <div class="banner-left-right">
          <h1>Headphones</h1>
          <h2>High quality audio</h2>
        </div>
      </div>
      <img class="hide-tablet show-mobile" src="{{ 'banner04.png' | asset_url }}"></img>
      <img class="show-tablet hide-mobile" src="{{ 'banner04_tablet.png' | asset_url }}"></img>
    </div>
  </div>
</div>
