<!-- Main Header -->

<header class="main-header">

  <div class="header-top">
    <div class="search-container">
      <span class="search-icon"></span>
      <input class="search-input" type="text" value=search>
    </div>
    <div class="nav-container">
      <nav class="secondary-nav">
        <ul class="option-list">
            {% if customer %}
                <li class="option-item"><a href="/account">{{ customer.name }}</a></li>
                <li class="option-item">{{ 'log out' | customer_logout_link }}</li>
                <li class="option-item"><a href="/cart">{{ 'cart' }}</a></li>
              {% else %}
                {% for link in linklists.user-menu.links %}
                  <li class="option-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
      </nav>
    </div>
  </div>

  <div class="header-mid">
    <a href="/" class="anchord-logo"><span class="logo-img"></span></a>
  </div>

  <div class="header-bot">
    <nav class="collection-nav">
      <ul class="collection-list">
        {% for link in linklists.collections-menu.links %}
        <li class="collection-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>

</header>
