<div class="product-section">

  <div class="product-box">

    <div class="product-picture">
      <img src="{{ product.featured_image | product_img_url: '358x500' }}">
    </div>

    <div class="product-views">
      {% for image in product.images offset:1 %}
      <div class="view-box">
        <img src="{{ image | product_img_url: '86x86' }}" class="view-box-image">
        <div class="after"></div>
      </div>
      {% endfor %}
    </div>

    <div class="product-info">
      <h2 class="product-title">{{ product.title }}</h2>
      <p class="product-description"><b>Description:&nbsp;</b>{{ product.description }}</p>
      <form action="/cart/add" method="post" enctype="multipart/form-data">

        <div class="variants-box">
          <select name="id">
              {% for variant in product.variants %}
              {% if variant.available == true %}
              <option value="{{variant.id}}"> {{ variant.title }}</option>
              {% else %}
              <option disabled="disabled"> {{ variant.title }} - sold out!</option>
              {% endif %}
              {% endfor %}
          </select>
        </div>

        <div class="quantity-box">
          <label for="Quantity">{{ 'Qty:' }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1">
        </div>

        <p class="product-price">{{ product.price | money }}</p>

        <input type="submit" name="add" id="add" value="Add to Cart" class="button">

        <div class="share-buttons">
          <label for="Socials">Share:</label>
        </div>
      </form>
    </div>

  </div>

</div>
