<div class="product-section">

  <div class="product-box">

    <div class="product-picture">
      <img src="{{ product.featured_image | product_img_url: '358x500' }}">
    </div>

    <div class="product-views">
      {% for image in product.images offset:1 %}
      <div class="view-box">
        <img src="{{ image | product_img_url: '86x86' }}" class="view-box-image">
        <div class="after"></div>
      </div>
      {% endfor %}
    </div>

    <div class="product-info">
      <h2 class="product-title">{{ product.title }}</h2>
      <p class="product-description"><b>Description:&nbsp;</b>{{ product.description }}</p>
      <form action="/cart/add" method="post" enctype="multipart/form-data">

        {% if product.variants.size > 1 %}
        <div class="variants-box">

          <label class="label-for-color">Color bouquet:&nbsp;</label>
          {% for variant in product.variants %}
          {% if forloop.first == true %}
          <input type="radio" name="id" value="{{variant.id}}" class="input-radio" id="{{variant.id}}" checked>
          {% else %}
          <input type="radio" name="id" value="{{variant.id}}" class="input-radio" id="{{variant.id}}">
          {% endif %}
          <label for="{{variant.id}}" class="label-color {{variant.title}}"></label>
          {% endfor %}

        </div>
        {% else %}
        <!-- <p><b>No variants</b></p> -->
        <div class="variants-box hide">
          {% for variant in product.variants %}
          <input type="radio" name="id" value="{{variant.id}}" class="input-radio" id="{{variant.id}}" checked>
          <label for="{{variant.id}}" class="label-color {{variant.title}}"></label>
          {% endfor %}
        </div>
        {% endif %}

        <!-- <div class="quantity-box">
          <label for="Quantity">{{ 'Qty:' }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="input-qty">
        </div> -->

        <div class="quantity-box">
          <label for="Quantity">{{ 'Qty:' }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" max="15" class="input-qty">
          <span class="triangle"></span>
        </div>

        <p class="product-price">{{ product.price | money }}</p>

        <input type="submit" name="add" id="add" value="Add to Cart" class="btn-2">
      </form>

      <div class="share-box">
        <label for="Socials">Share:</label>
        <div class="socials-buttons">
          <a href="#" class="social-anchord"><span class="fb-icon-flat"></span></a>
          <a href="#" class="social-anchord"><span class="pint-icon-flat"></span></a>
          <a href="#" class="social-anchord"><span class="gplus-icon-flat"></span></a>
        </div>
      </div>

    </div>

  </div>

</div>
