<footer>

  <div class="content grid">
    <div class="footer-social-media grid__item medium-up--four-tenths small--one-whole">
      <span class="subtitle">Follow us</span>
      {%- assign social_accounts = 'Facebook, Twitter, Googleplus, Youtube' | split: ', ' -%}
      <ul>
      {% for social in social_accounts %}
        {%- assign social_handle = social | handleize -%}
        {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
        {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

        {% if settings[social_link] != blank %}
          <li>
            <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
              {% include social_icon %}
              <span class="icon-fallback-text">{{ social }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>

    <div class="footer-logo grid__item medium-up--two-tenths small--hide">
      <img src="{{ 'logo_small.png' | asset_url }}">
    </div>

    <div class="footer-newsletter grid__item medium-up--four-tenths small--one-whole">
      <span class="subtitle">Join our newsletter!</span>
      <input class="newsletter" type="text" placeholder="EMAIL">
    </div>

    <div class="footer-nav grid__item small--hide">
      {%- assign footer_linklist = section.settings.footer_linklist -%}
      {% if linklists[footer_linklist].links.size > 0 %}<Paste>
        <ul>
        {% for link in linklists[footer_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="footer-copyright grid__item">
      Created by MagmaLabs {{ 'now' | date: "%Y" }}
    </div>

  </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
