<div class="container">
  <%= partial "partials/header" %>
  <%= partial "partials/breadcrumb" %>
  <%= partial "partials/category-buttons" %>
  <%= partial "partials/product-list" %>
  <%= partial "partials/category-buttons" %>
  <%= partial "partials/footer" %>
</div>
