<div class="container">
  <%= partial "partials/slide-out-menu" %>

  <%= partial "partials/header" %>

  <%= partial "partials/body-message" %>

  <%= partial "partials/category-list" %>

  <%= partial "partials/promotion" %>

  <%= partial "partials/footer" %>
</div>
