<div class="container">
  <%= partial "partials/_slide-out-menu" %>

  <%= partial "partials/_header" %>

  <%= partial "partials/_body-message" %>

  <%= partial "partials/_category-list" %>

  <%= partial "partials/_promotion" %>

  <%= partial "partials/_footer" %>
</div>
