<div class="categories_main">
  {% for block in section.blocks %}
    {% if block.settings.opc == "1" %}
        <div class="banner_wooden_toys category-{{block.id}}">
          <div class="wooden_toys_content">
            <a href="/categories.html">
              <h2>{{block.settings.title}}</h2>
            </a>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    {% for block in section.blocks %}
     {% if block.settings.opc == "2" %}
          <div class="banner_plush_toys category-{{block.id}}">
            <div class="plush_toys_content">
              <a href="/categories.html">
                <h2>{{block.settings.title}}</h2>
              </a>
            </div>
          </div>
      {% endif %}
    {% endfor %}
    {% for block in section.blocks %}
        {% if block.settings.opc == "3" %}
          <div class="banner_outdoors category-{{block.id}}">
            <div class="outdoors_content">
              <a href="/categories.html">
                <h2>{{block.settings.title}}</h2>
              </a>
            </div>
          </div>
        {% endif %}
  {% endfor %}
  <div class="scroll-up">
    <a href="#" class="scroll-up-button" name="scrollup">
      <h3>SCROLL UP</h3>
      <img class="up-arrow" src="/images/arrow_up_white.png" alt="Arrow Up">
    </a>
  </div>
</div>

<style>
  {% for block in sections.blocks %}
    .category-{{block.id}} {
      background-image: url('{{block.settings.banner_img |img_url: 'large'}}');
    }
    .banner_wooden_toys {
      background-image: url('{{block.settings.banner_img |img_url: 'large'}}');
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      width: 25%;
      margin-left: 10px;
      margin-right: 10px;
    }
  {% endfor %}
</style>

{% schema %}
{
 "name":"Featured Kits",
 "max_blocks":3,
 "blocks":[
   {
     "type":"image",
     "name":"Kit",
     "settings":[
       {
         "type":"image_picker",
         "id":"banner_img",
         "label":"Image",
         "info":"image should be 800px x 800px"
       },
       {
         "type": "text",
         "id": "title",
         "label": "Title",
         "default": "Title"
       },
       {
         "type":      "select",
         "id":        "opc",
         "label":     "Type of banner",
         "options": [
           {
             "group": "Categories",
             "value": "1",
             "label": "Top banner"
           },
           {
             "group": "Categories",
             "value": "2",
             "label": "Mid banner"
           },
           {
             "group": "Categories",
             "value": "3",
             "label": "Bottom banner"
           }
         ],
         "default":   "1",
         "info":      "Just one of each type"
       }
     ]
   }
 ],
  "presets": [
    {
      "name": "Featured Kits",
      "category": "Banners"
    }
  ]
}
{% endschema %}
