<section class="featured-kits">
  <div class="flex-grid">
    {% for block in section.blocks %}
      {% if block.settings.opc == "1" %}
        <div class="big-banner banner-{{ block.id }}">
          <div class="big-banner-content">
            <h1 class="big-banner-title">{{ block.settings.title }}</h1>
            <p class="big-banner-description">{{ block.settings.description }}</p>
            <div class="view-in-detail">
              <a href="https://luisarmandodv.myshopify.com/collections/{{ block.settings.kits }}">
                <h4 class="view-detail-button">{{ block.settings.button }}</h4>
              </a>
            </div>
          </div>
        </div>
      {% else %}
        {% if block.settings.opc == "2"%}
          <div class="small-banner banner-{{ block.id }}">
            <p class="small-banner-title">{{ block.settings.title }}</p>
              <div class="big-text">
                <p class="small-banner-description">{{ block.settings.description }}</p>
                <p class="small-banner-description">{{ block.settings.button }}</p>
             </div>
         </div>
       {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="flex-grid">
    {% for block in section.blocks %}
      {% if block.settings.opc == "3"  %}
        <div class="mid-banner mid-banner-saylor banner-{{ block.id }}">
          <div class="mid-banner-content">
            <h1>{{ block.settings.title }}</h1>
            <p class="description">{{ block.settings.description }}</p>
            <button class="button-mid-banner button-sailor" type="button" name="button" onclick="window.location.href='https://luisarmandodv.myshopify.com/collections/{{ block.settings.kits }}'">
              <h1 class="h1-sailor">{{ block.settings.button }}</h1>
            </button>
          </div>
        </div>
       {% else %}
        {% if block.settings.opc == "4" %}
          <div class="mid-banner mid-banner-archeologist banner-{{ block.id }}">
            <div class="mid-banner-content">
              <h1>{{ block.settings.title }}</h1>
              <p class="description">{{ block.settings.description }}</p>
              <button class="button-mid-banner button-archeologist" type="button" name="button" onclick="window.location.href='https://luisarmandodv.myshopify.com/collections/{{ block.settings.kits }}'">
                <h1 class="h1-archeologist">{{ block.settings.button }}</h1>
              </button>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</section>

<style>
{% for block in section.blocks %}
  .banner-{{ block.id }} {
    background-image: url("{{ block.settings.banner_img | img_url: 'master' }}");
    background-size: cover;
  }
  {% if block.settings.opc == "3" %}
    @media only screen and (max-width: 768px) {
      .mid-banner-saylor {
        background: linear-gradient(0deg,
          rgb(239, 239, 239),
          rgba(239, 239, 239, 1) 20%,
          rgba(239, 239, 239, 0.2) 50%,
          rgba(239, 239, 239, 0)), url("{{ block.settings.banner_img | img_url: 'master' }}");
        background-size: cover;
        color: #000;
      }
    }
    @media only screen and (min-width: 769px) and (max-width: 1279px) {
      .mid-banner-saylor  {
        background: linear-gradient(90deg,
          rgb(240, 240, 240),
          rgba(239, 240, 240, .9) 40%,
          rgba(189, 152, 107, 0.2) 70%,
          rgba(189, 152, 107, 0)), url("{{ block.settings.banner_img | img_url: 'master' }}");
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        color: #000;
      }
    }
    @media only screen and (min-width: 1280px) {
      .mid-banner-saylor  {
        background: linear-gradient(90deg,
          rgb(240, 240, 240),
          rgba(240, 240, 240, 1) 40%,
          rgba(189, 152, 107, 0.2) 70%,
          rgba(189, 152, 107, 0)), url("{{ block.settings.banner_img | img_url: 'master'}}");
        background-position: right;
        background-size: cover;
        color: #000;
      }
    }
  {% else %}
    {% if block.settings.opc == "4" %}
      @media only screen and (max-width: 768px) {
       .mid-banner-archeologist {
         background: linear-gradient(0deg,
           rgb(189, 152, 107),
           rgba(189, 152, 107, 1) 40%,
           rgba(189, 152, 107, 0.2) 90%,
           rgba(189, 152, 107, 0)), url("{{ block.settings.banner_img | img_url: 'master'}}");
         background-size: cover;
          color: #FFFFFF;
        }
      }
      @media only screen and (min-width: 769px) and (max-width: 1279px) {
        .mid-banner-archeologist {
          background: linear-gradient(90deg,
            rgb(189, 152, 107),
            rgba(189, 152, 107, 1) 40%,
            rgba(189, 152, 107, 0.2) 90%,
            rgba(189, 152, 107, 0)), url("{{ block.settings.banner_img | img_url: 'master'}}");
          background-position: right;
          background-size: cover;
          color: #FFF;
          margin-left: 20px;
        }
      }
      @media only screen and (min-width: 1280px) {
        .mid-banner-archeologist {
          background: linear-gradient(90deg,
            rgb(189, 152, 107),
            rgba(189, 152, 107, 1) 40%,
            rgba(189, 152, 107, 0.2) 90%,
            rgba(189, 152, 107, 0)), url("{{ block.settings.banner_img | img_url: 'master'}}");
          background-size: cover;
          background-position: right;
          color: #FFF;
          margin-left: 20px;
        }
        }
      }
    {% endif %}
  {% endif %}
{% endfor %}
</style>

{% schema %}
{
 "name":"Featured Kits",
 "max_blocks":4,
 "blocks":[
   {
     "type":"image",
     "name":"Kit",
     "settings":[
       {
         "type":"image_picker",
         "id":"banner_img",
         "label":"Image",
         "info":"image should be 800px x 800px"
       },
       {
         "type": "text",
         "id": "title",
         "label": "Title",
         "default": "Title"
       },
       {
         "type": "text",
         "id": "description",
         "label": "Description",
         "default": "Description"
       },
       {
         "type": "text",
         "id": "button",
         "label": "Button",
         "default": "Text"
       },
       {
         "type":      "select",
         "id":        "opc",
         "label":     "Type of banner",
         "options": [
           {
             "group": "Top-Banners",
             "value": "1",
             "label": "Big banner"
           },
           {
             "group": "Top-Banners",
             "value": "2",
             "label": "Small banner"
           },
           {
             "group": "Low-Banners",
             "value": "3",
             "label": "Left banner"
           },
           {
             "group": "Low-Banners",
             "value": "4",
             "label": "Right banner"
           }
         ],
         "default":   "1",
         "info":      "Just one of each type"
       },
       {
         "type":      "collection",
         "id":        "kits",
         "label":     "Colletions",
         "info":      "Choose the collection"
      }
     ]
   }
 ],
  "presets": [
    {
      "name": "Featured Kits",
      "category": "Banners"
    }
  ]
}
{% endschema %}
