<footer>
  <div class="footer-content">
    <div class="social-media-container">
      <div class="social-media-box">
        <div class="box-sm">
          <div class="social-media">
            <p>FOLLOW US</p>
          </div>
          <div class="social-media-icon-group">
            <div class="sm">
              <a href="https://www.facebook.com/">
                <p><img src="/images/fb.svg" alt="Facebook"></p>
              </a>
            </div>
            <div class="sm twt">
              <a href="https://twitter.com/?lang=en">
                <p><img src="/images/twt.svg" alt="Twitter"></p>
              </a>
            </div>
            <div class="sm">
              <a href="https://plus.google.com/discover">
                <p><img src="/images/g+.svg" alt="G+"></p>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="logo">
        <a href="/">  <img src="images/Logo.svg" alt="Lil Peep"> </a>
      </div>

      <div class="newsletter">
        <div class="box-newsletter">
          <p>JOIN OUR NEWSLETTER!</p>
          <input type="email" placeholder="EMAIL" maxlength="25">
        </div>
      </div>
    </div>
    <div class="information">
      {%- assign footer_linklist = section.settings.footer_linklist -%}
      {% if linklists[footer_linklist].links.size > 0 %}
        <ul>
          {% for link in linklists[footer_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="author">
      <p>{{ 'layout.footer.copyright' | t }}</p>
    </div>
  </div>

  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      }
    ]
  }

{% endschema %}
