<footer>
  <div class="footer-content">
    <div class="social-media-container">
      <div class="social-media-box">
        <div class="box-sm">
          <div class="social-media">
            <p>FOLLOW US</p>
          </div>
          {% if section.settings.show_share_buttons %}
            {% include 'social-sharing-footer', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}
        </div>
      </div>

      <div class="logo">
        <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </div>

      <div class="newsletter">
        <div class="box-newsletter">
          <p>JOIN OUR NEWSLETTER!</p>
          <input type="email" placeholder="EMAIL" maxlength="25">
        </div>
      </div>
    </div>
    <div class="information">
      {%- assign footer_linklist = section.settings.footer_linklist -%}
      {% if linklists[footer_linklist].links.size > 0 %}
        <ul>
          {% for link in linklists[footer_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="author">
      <p>{{ 'layout.footer.copyright' | t }}</p>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      }
    ]
  }

{% endschema %}
