<section id="ship-info-dialog" class="info-dialog">
  <p>{{ 'collections.general.free_shipping' | t }}</p>
  <div class="dialog-button-container">
    <button id="closeDialog" type="button" name="closeDialog">x</button>
  </div>
</section>

<section class="current-route">
    <a class="home-route-section">HOME</a>
    <a class="categories-route-section">&gt; WOODEN TOYS</a>
</section>

<div class="categories-view">

  <h1>{{ collection.title }}</h1>
  {% if collection.description != blank %}
    <div class="rte">
      {{ collection.description }}
    </div>
  {% endif %}

  <header role="banner" class="categories-slider-navigator">
    {%- include 'pagination' -%}

    {% if collection.all_tags.size > 0 %}
      <ul>
        {% for tag in collection.all_tags %}
          {% if current_tags contains tag %}
            <li class="active">
              {{ tag | link_to_remove_tag: tag }}
            </li>
          {% else %}
            <li>
              {{ tag | link_to_tag: tag }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </header>

  <div class="collection-container">
    {% for product in collection.products %}
      <div class="product-card-category">
        <div class="products-slider">
          <div class="front-label">
          {% assign date_created = product.created_at | date:'%s' %}
          {% assign     date_now = 'now' | date:'%s' %}
          {% assign   difference = date_now | minus: date_created %}

          {% if difference < 172800 %}
            <p class="new-product">NEW</p>
          {% else %}
            <p class="not-new-product">NOT NEW</p>
          {% endif %}
          </div>
          <div class="product-image">
            {% if product.featured_image != blank %}
              <a href="{{ product.url | within: collection }}">
                {{ product.featured_image.src | img_url: '480x480' | img_tag: product.featured_image.alt }}
              </a>
            {% endif %}
          </div>
        </div>
        <div class="product-data">
          <p>
            <a href="{{ product.url | within: collection }}" class="product-title">{{ product.title }}</a>
          </p>
          <div class="price">
            <p class="price">

                  {{ product.price | money }} USD


              {% if product.compare_at_price > product.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <p class="offer">{{ product.compare_at_price | money }} USD </p>
              {% endif %}

              {% unless product.available %}
                {{ 'products.product.sold_out' | t }}
              {% endunless %}

            </p>
          </div>
          <div class="view-in-detail">
            <a href="" type="button" name="view-button">
              <h4>VIEW</h4>
            </a>
          </div>
        </div>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}
    {% endfor %}
  </div>

  {%- include 'pagination' -%}

  <div class="scroll-up">
    <a href="#" class="scroll-up-button" name="scrollup">
      <h3>{{ 'collections.general.scroll_up' | t }}</h3>
      {{ 'arrow_up_white.png' | asset_url | img_tag | link_to: 'https://google.com/', 'Arrow Up' }}
    </a>
  </div>

</div>
