<div class="body-message">
  <h1 class="title-message">{{ section.settings.titlemessage | upcase }}</h1>
  <img class="image-message" src="{{ section.settings.imagemessage | img_url: '800x' }}" alt="{{ settings.categoryimg.alt }}" />
  <div class="text-message">
    <p>{{ section.settings.imagedescription }}</p>
  </div>
  <a href="{{section.settings.link}}" class="btn-read-more">READ MORE</a>
</div>

{% schema %}
{
  "name":"Body message",
  "settings":[
    {
      "type": "text",
      "id": "titlemessage",
      "label": "Title"
    },
    {
      "type":"image_picker",
      "id":"imagemessage",
      "label":"Image"
    },
    {
      "type": "text",
      "id": "imagedescription",
      "label": "Description"
    },
    {
      "type":"url",
      "id":"link",
      "label":"link"
    }
  ]
}
{% endschema %}
