<footer>
  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
    {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}
    <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          {% if payment_icons_available contains type %}
            <li>
                {%- assign icon_name = type | prepend: 'icon-' -%}
                {% include icon_name %}
                <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
              </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  {%- assign social_accounts = 'Facebook_fiorella, Twitter, Pinterest_fiorella, Instagram, Snapchat, Tumblr, YouTube, Vimeo, Google_plus,' | split: ', ' -%}

  <div class="box-footer">
    {%- for block in section.blocks -%}
      <div class="box-footer-item hide-menu">
        <h3 class="title-footer">{{linklists[block.settings.footer_linklist].title | upcase }}</h3>
        <ul class="ul-item-menu">
          {% for link in linklists[block.settings.footer_linklist].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title | upcase }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {%- endfor -%}
    <div class="box-footer-item social-box">
      <h3 class="title-footer">{{ 'layout.footer.social_title' | t | upcase }}</h3>
      <ul class="ul-item-menu">
        <div class="social-media">
          {% for social in social_accounts %}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
            {% if settings[social_link] != blank %}
              <li>
                <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" target="_blank">
                  {% include social_icon %}
                  <span class="icon-fallback-text">{{ social }}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </div>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; {{ 'now' | date: "%Y" }} {{ 'layout.footer.copyright_description' | t }}</p>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "blocks":[
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "First menu",
          "default": "footer"
        },
        {
          "type": "checkbox",
          "id": "show_payment_icons",
          "label": "Show payment icons",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
